
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
  
  .content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }
  

  p {
    font-family: 'Source Sans Pro', sans-serif; color:#f1f1f1;
  }
  
  h1 {
    font-family: 'Source Sans Pro', sans-serif; color:#f1f1f1;
  }

  body {
    background-color: rgb(0, 0, 0);
    }